[submodule "third_party/wabt"]
	path = third_party/wabt
	url = https://github.com/WebAssembly/wabt.git
[submodule "test/testsuite"]
	path = test/testsuite
	url = https://github.com/WasmVM/testsuite.git
